.header__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  background-color: #000;
  border: none;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}
