.form__button {
  margin-top: 10px;
  padding: 0;
  min-height: 50px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.form__button:hover {
  opacity: .8;
}

@media screen and (max-width: 584px) {
  .form__button {
    margin-top: 15px;
    min-height: 46px;
    font-size: 14px;
  }
}
