.popup {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;

}
