.popup__container-avatar {
  height: 272px;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 584px) {
  .popup__container-avatar {
    width: 282px;
    height: 272px;
  }
}

