.header__link_enter {
  color: #fff;
}

@media screen and (max-width: 620px) {
  .header__link_enter {
    color: #fff;
    display: block;
    margin-right: 30px;
    font-size: 14px;
    line-height: auto;
  }
}
