.images {
  max-width: 880px;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  justify-items: start;
  row-gap: 20px;
}

@media screen and (max-width: 1074px) {
  .images {
    margin: 36px 60px 0;
  }
}

@media screen and (max-width: 620px) {
  .images {
    margin: 36px 19px 0;
  }
}
