.profile__info {
  grid-area: info;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 19px;
  justify-content: start;
}

@media screen and (max-width: 620px) {
  .profile__info {
    margin: 0 auto;
    column-gap: 10px;
  }
}

@media screen and (max-width: 394px) {
  .profile__info {
    max-width: 282px;
    margin-top: 26px;
  }
}
