.form {
  margin: 54px 36px 0;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 584px) {
  .form {
    margin: 75px 22px 0;
    padding-bottom: 25px;
  }
}

