.popup__button-close {
  padding: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/CloseIconX.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 584px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
